.wrapper {
    max-width: 850px !important;
}
.wrapper section {
    max-width: 850px !important;
    padding: 20px 0px 50px 0px !important;
    margin: 0 !important;
}

section #title {
    padding: 0 !important;
    margin: 0 !important;
}
